<div class="container">
    <div class="row">
        <div class="col-12 mb-4">
            <form class="formproducto wrapper" id="formproducto" method="post" onsubmit="sendFormLogin(); return false;">
                <div class="formproducto__row">
                    <div class="formproducto__field">
                        <label for="usuario-nombre">Nombre</label>
                    </div>
                    <div class="formproducto__field">
                        <input id="usuario-nombre" type="text" name="usuario-nombre" placeholder="Ingrese su nombre.." required>
                    </div>
                </div>
                <div class="formproducto__row">
                    <div class="formproducto__field">
                        <input type="submit" value="Enviar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>